%h2 利用者 一覧
%table{border: 1}
  %tr
    %th ユーザー名
    %th 住所
    %th ログイン
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.address
      %td= user.login
      %td= user.rend1
      %td= user.rend2
      %td= user.rend3