%h2 利用者のページ

%table{border: 1}
  %p= '名　前：' + @user.name
  %p= '住　所：' + @user.address
  = button_to 'ログアウト', {controller: 'users', action: 'logout'}, {method: :get}
  %p

  - if @books == 0
    %h4 現在、貸出図書はありません
  - else
    %table{border: 1}
      %tr
        %th タイトル
        %th 著者名
        %th 分類
        %th 返却期限
      - @books.each do |book|
        %tr
          %td= book.title
          %td= book.author
          %td= book.genre
          - d = @lentals.find_by(book_id: book.id).updated_at + 14.days
          %td= d.strftime('%Y-%m-%d')
          %td= link_to '返却', lentals_return_path(book) 

  %p= notice