= form_for Book.new do |f|
  %p= f.label :title
  = f.text_field :title
  %p= f.label :author
  = f.text_field :author
  %p= f.label :genre
  = f.text_field :genre
  %p= f.label :date_of_issue
  = f.text_field :date_of_issue
  %p= f.label :number_of_books
  = f.text_field :number
  %p= f.label :summary
  = f.text_area :summary
  %p= f.submit '新規登録'
