%h2 管理者のページ
= button_to '書籍登録', {controller: 'books', action: 'new'}, {method: :get}

%h2 書籍一覧
%table{border: 1}
  %tr
    %th タイトル
    %th 著者名
    %th 分類
    %th 在架数
    %th 
  - @books.each do |book|
    %tr
      %td= link_to book.title, book_show_path(book)
      / %td= link_to book.name, "books/#{book.id}"
      %td= book.author
      %td= book.genre
      %td= book.number
      %td= link_to '削除', book_delete_path(book), method: :delete, data: {confirm: '削除しますか？'}

