!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WebLibraray
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %header
        / %img.header{src: '/image1.png', width: 40}
        %h1 WEB Library
        %ul
          %li= link_to 'TOP', books_index_path(@book)
          %li= link_to 'ログイン', users_login_name_path(@user)
          %li= link_to '貸出', users_index_path(@user)
          %li= link_to '利用者ページ', user_show_path(@user)

      = yield
